{#
/**
 * @file
 * Template for a one column layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 * - region_attributes: HTML attributes for regions.
 * - settings: Layout configuration settings.
 */
#}
{%
  set classes = [
    'layout',
    'layout--onecol',
  ]
%}

{% if content %}
  <div{{ attributes.addClass(classes) }}>

    {% if settings.top_region %}
      <div{{ region_attributes.top.addClass('layout__region', 'layout__region--top') }}>
        {{ content.top }}
      </div>
    {% endif %}

    <div class="layout__content{% if settings.container %} container{% endif %}">
      <div class="row">
        <div{{ region_attributes.main.addClass('layout__region', 'layout__region--main') }}>
          {{ content.main }}
        </div>
      </div>
    </div>

    {% if settings.bottom_region %}
      <div{{ region_attributes.bottom.addClass('layout__region', 'layout__region--bottom') }}>
        {{ content.bottom }}
      </div>
    {% endif %}

  </div>
{% endif %}
